.app-container {
    width: 100%;
}

/* ---the body of the whole navbar */
.navbar {
    width: 20%;
    height: 100vh;
    border-right: 1px solid #EFF1F6;

    position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-container {
    height: 10%;
    padding: 5% 10%;
}
/* ---Ths container of the navs itself (from Dashboard - Item 8) */
.navigation {
    height: 80%;
}

.navigation nav, 
.navigation ul {
    width: 100%;
}
.navigation nav {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navigation ul li {
    display: flex;
    margin: 2% 0;
    padding: 3% 0;
    padding-left: 22%;
    
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all 0.6s ease;
}
.navigation ul li:hover {
    color: #FF5403;
    transition: all 0.6s ease;
}
/* active class */
.active {
    border-left: 1px solid #FF5403;  
}
/* styling the li sub-headings */
.navigation h4 {
    padding-left: 12%;
    font-size: 0.7rem;
    margin: 5% 0;
    text-transform: uppercase;
}

/* for each logo next to the navs */
.dashboard::before {
    content: url(./assets/dashboard.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}
.nav1::before {
    content: url(./assets/nav-1.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}
.nav2::before {
    content: url(./assets/nav-2.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}
.nav3::before {
    content: url(./assets/nav-3.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}
.nav4::before {
    content: url(./assets/nav-4.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}
.nav5::before {
    content: url(./assets/nav-5.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}
.nav6::before {
    content: url(./assets/nav-6.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}
.nav7::before {
    content: url(./assets/nav-7.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}
.nav8::before {
    content: url(./assets/nav-8.svg);
    position: absolute;
    top: 22%;
    left: 12%;
}


/* ---The container of the user profile */
.user {
    height: 10%;
}
.user p {
    padding-left: 23%;
    font-size: 0.9rem;
    position: relative;
    font-weight: 500;
}
.user p::before {
    content: url('./assets/user.svg');
    position: absolute;
    top: -22%;
    left: 12%;
    zoom: 80%;
}


/* --- the body section */

.body {
    width: 80%;
    height: 100vh;
    padding: 1% 5%;
    margin-left: 20%;
}
.body header {
    font-size: 20px;    
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #131316;
    margin-bottom: 3%;
    font-weight: 600;
}
.body .heading-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading-info .info h4 {
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    font-weight: 600;
}
.heading-info .info p {
    font-size: 14px;
    line-height: 22px;
    
}
.heading-info .analytics {
    margin-top: 2%;
    font-size: 14px;
    color: #FF5403;
    cursor: pointer;
}

/* ---filter for the days */
.days {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.day {
    font-size: 0.8rem;
    padding: 0.7rem;
    border: 1px solid #EFF1F6;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.day:hover {
    color: #FF5403;
    border: 1px solid #FF5403;
    transition: all 0.5s ease;
}
.active-day {
    color: #FF5403;
    background: #FFDDCD;
    border: 1px solid #FF5403;
}

/* the line chart container */
.line-chart {
    margin: 2% 0;
    padding: 2%;
    border-radius: 12px;
    border: 1px solid #EFF1F6;
}


/* --- Base Components */
/* nb: i used the same styling for both classes since they're the same component but different data */
.base-components {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* subheading */
.locations-container {
    width: 500px;
    height: 250px;
    border: 1px solid #EFF1F6;
    border-radius: 12px;

    padding: 1%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
.location-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    padding: 0 5%;
    padding-top: 3%;
}
.location-header h3 {
    font-size: 18px;
    letter-spacing: -0.015em;
}
.location-header p {
    font-size: 14px;
    color: #FF5403;
    cursor: pointer;
}


/* --- container of the doughnut chart */
.doughnut-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    position: relative;
}

/* the container of the data opposite the chart */
.locations {
    width: 100%;
    padding-left: 11%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* each of the p tags gotten from the mapping of the data */
.location {
    font-size: 0.8rem;
    font-weight: 600;
    color: #131316;
    position: relative;
}
/* each of the color of the percentages */
.location::after {
    content: '';
    position: absolute;
    width: 5%;
    height: 10px;
    background: rgba(89, 158, 234, 1);
    border-radius: 10px;
    top: 20%;
    margin-left: 5%;
}
.location:nth-child(2):after {
    background: rgba(132, 79, 246, 1);
}
.location:nth-child(3):after {
    background: rgba(240, 148, 104, 1);
}
.location:nth-child(4):after {
    background: rgba(250, 183, 10, 1);
}
.location:nth-child(5):after {
    background: rgba(15, 183, 122, 1);
}

/* the span tag in the p tag holding the percentages */
.percent {
    margin-left: 5%;
    font-weight: 700;
}

/* the flags/social icons container */
.flags {
    top: -1%;
    left: 5%;
    position: absolute;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flags img {
    width: 20px;
}



