@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #131316;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Söhne-Bold;
    src: url('./assets/Font/TestSöhne-Halbfett.otf');
}
@font-face {
    font-family: Söhne-Light;
    src: url('./assets/Font/TestSöhne-Leicht.otf');
}
@font-face {
    font-family: Söhne-Medium;
    src: url('./assets/Font/TestSöhneBuch.otf');
}

h1, 
header {
    font-family: Söhne-Bold;
}
h2 {
    font-family: Söhne-Bold;
}
h3, 
li,
span {
    font-family: Söhne-Medium;
}
h4 {
    font-family: Söhne-Light;
}
p {
    font-family: Söhne-Light;
}