@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Söhne', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Söhne;
    src: url('./assets/Font/TestSöhne-Halbfett.otf');
    font-weight: 400;
}
@font-face {
    font-family: Söhne;
    src: url('./assets/Font/TestSöhne-Leicht.otf');
    font-weight: 500;
}
@font-face {
    font-family: Söhne;
    src: url('./assets/Font/TestSöhneBuch.otf');
    font-weight: 600;
}